body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0; 
}

/* Header Bar */
header {
    display: block;
    width: 100%;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    top: 0;
}

figure {
    margin: 0;
}

header figure img {
    display: block;
    height: 50px;
    float: left;
    padding: 10px;
}

nav {
    display: block;
    float: right;
    height: 100%;
    margin: 0 auto;
}

nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;

}

nav a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
}

/* Main Page */ 

main {
    margin: 40px;
}

/* Mission section */

#mission {
    width: 1200px;
    height: 700px;
    background-image: url('./images/background.webp');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin: 0 auto;
}

#mission .mission-text {

    margin: auto;
    background-color: black;
    width: 100%;
}

/* Featured Tea section */

#featured .image_library {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image_library figure img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

#locations {
    background-image: url('./images/locations.webp');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 1200px;
    margin: 20px auto;
    padding-top: 30px;
}

.address_menu {
    display: inline-flex;
    justify-content: space-between;
}

.address {
    width: 300px;
    margin:  15px 20px;
    background-color: black;
    opacity: 1;
}

footer .contact {
    height: 200px;
}

footer .copywrite {
    text-align: left;
    padding-left: 20px;
}